<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pennapps.air.guitar.airguitar">
    // Required for communicating with the Myo device
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    // Required for sending usage data to Thalmic Labs
    <uses-permission android:name="android.permission.INTERNET" />
    // Required for saving Myo settings and other data
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon512"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AirGuitarActivity"
            android:label="@string/title_activity_air_guitar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SyncoDeMyo"
            android:label="@string/title_activity_synco_de_myo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HowToActivity"
            android:label="@string/title_activity_how_to"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ChordsActivity"
            android:label="@string/title_activity_chords"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".KeysActivity"
            android:label="@string/title_activity_keys"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
